.u-section-1 {
  background-image: url("../images/vaquinha-landscape-ref-v2.jpg");
  background-position: 50% 50%;
}

@media (max-width: 991px) {
  .u-section-1 {
    background-image: url("../images/vaquinha-landscape-ref.jpg");
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-image: url("../images/vaquinha-phone-ref.jpg");
  }
}

/* 767px 575px 991px*/

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  min-height: 352px;
  width: 598px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: 81px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: none;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 19px 1px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-group-1 {
    min-height: 332px;
    width: 456px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-group-1 {
    min-height: 267px;
    width: 280px;
    margin-top: 238px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(#f5a6bf, #b2c8f3);
}

.u-section-2 .u-sheet-1 {
  min-height: 551px;
}

.u-section-2 .u-group-1 {
  min-height: 186px;
  width: 800px;
  margin: 60px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 25px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
    width: 254px;
    margin-top: 60px;
  }
}.u-section-3 {
  background-image: linear-gradient(#fde8ee, #b2c8f3);
}

.u-section-3 .u-sheet-1 {
  min-height: 964px;
}

.u-section-3 .u-group-1 {
  width: 507px;
  min-height: 659px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 20px 40px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 75px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-style: normal;
  margin: 31px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 625px;
  margin: -709px 0 9px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 482px;
}

.u-section-3 .u-text-3 {
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(116, 133, 221) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-3 .u-group-2 {
  width: 244px;
  min-height: 154px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 4px;
  padding-right: 4px;
}

.u-section-3 .u-group-3 {
  width: 236px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-2 {
  width: 19px;
  height: 19px;
  margin: 5px auto 0 5px;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: -23px auto 0 34px;
}

.u-section-3 .u-group-4 {
  width: 236px;
  margin: 9px 0 0;
}

.u-section-3 .u-icon-3 {
  width: 19px;
  height: 19px;
  color: rgb(17, 17, 17) !important;
  margin: 18px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  margin: -37px auto 0 29px;
}

.u-section-3 .u-text-6 {
  background-image: none;
  font-weight: 700;
  margin: 0 26px 0 1px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 321px;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-3 .u-group-5 {
  width: 244px;
  min-height: 181px;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 13px 22px;
}

.u-section-3 .u-group-6 {
  width: 207px;
  margin: 5px -4px 0;
}

.u-section-3 .u-icon-5 {
  width: 19px;
  height: 19px;
  margin: 10px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-style: normal;
  margin: -29px 0 0 30px;
}

.u-section-3 .u-group-7 {
  width: 213px;
  margin: 8px -7px 0;
}

.u-section-3 .u-icon-6 {
  width: 19px;
  height: 19px;
  margin: 17px auto 0 0;
}

.u-section-3 .u-text-9 {
  font-style: normal;
  margin: -36px 0 0 28px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 362px;
}

.u-section-3 .u-container-layout-10 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-7 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(116, 133, 221) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-11 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  width: 122px;
  height: 122px;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 430px;
}

.u-section-3 .u-container-layout-11 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-8 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-3 .u-text-13 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-3 .u-group-1 {
    width: 358px;
    min-height: 665px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 565px;
    margin-top: -707px;
    margin-bottom: 18px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.625rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 21px;
    margin-left: 21px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.625rem;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5625rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 444px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    font-size: 1.5625rem;
  }

  .u-section-3 .u-text-13 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1344px;
  }

  .u-section-3 .u-group-1 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-4 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-group-6 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-group-7 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1604px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2043px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-2 {
    width: 258px;
    min-height: 155px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-group-3 {
    min-height: 29px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-group-4 {
    min-height: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 22px;
  }

  .u-section-3 .u-text-6 {
    width: 223px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 13px 0;
  }

  .u-section-3 .u-icon-4 {
    color: rgb(75, 125, 225) !important;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-5 {
    min-height: 174px;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-group-6 {
    width: 213px;
    min-height: 56px;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-8 {
    font-style: italic;
    width: auto;
    margin-top: -37px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-group-7 {
    min-height: 56px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-9 {
    font-style: italic;
    width: auto;
    margin-top: -38px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-7 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 387px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-8 {
    color: rgb(75, 125, 225) !important;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  background-image: linear-gradient(#f5a6bf, #b2c8f3);
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-group-1 {
  width: 747px;
  min-height: 372px;
  margin: 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-4 .u-form-1 {
  width: 570px;
  margin: 30px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 785px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
    margin-left: -10px;
    margin-right: -10px;
  }
}.u-section-5 {
  background-image: linear-gradient(#f5a6bf, #b2c8f3);
}

.u-section-5 .u-sheet-1 {
  min-height: 464px;
}

.u-section-5 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-5 .u-table-1 {
  margin: 20px auto 42px 0;
}

.u-block-41cf-46 {
  background-image: none;
}

.u-section-5 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-5 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-block-41cf-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-table-1 {
    margin-top: 51px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}